h1 { 
   font-family: 'Amatic SC', cursive;
   font-weight: bold;
}

h2 {
   font-family: 'Amatic SC', cursive;
   font-size: 35px;
}

h3 {
   font-family: 'News Cycle', sans-serif;
   font-weight: bold;
}

header h1 {
   font-size:58px;
   float: right;
   width: 80%;
   padding-top: 7px;
   margin-bottom: 0px;
}

header li {
   float: left;
   margin: 0px 28px;
}

ul {
   list-style-type: none;
}

#right_column h2 {
   margin: 0px;
}

#right_column ul, #left_column ul {
   padding: 0px;
   margin: 0px;
   font-size: 18;
   font-family: 'News Cycle', sans-serif;
}

p {
   font-family: "News Cycle",sans-serif;
}

header ul {
   font-size: 30px;  
   margin-left: 300px;
   font-family: 'Amatic SC', cursive;
}

a {
   text-decoration: none;
   color: black;
}

a:hover {
   text-decoration: underline;
}

header {
   margin-bottom: 120px;
}

#left_column h2 {
   margin: 0px;
}



#left_column {
   float: left;
   width: 207px;
   padding-left: 10px;
}

#center_column {
   width: 814px;
   display: inline-block;
}

#right_column {
   width: 239px;
   float: right;
   padding-right: 10px;
}

#center_column img, iframe{
   margin: 0px auto;
   display: block;
}

#classpicture {
   width: 750px;
}

#studentoftheweek {
   width: 300px;
}

#center_column p {
   width: 90%;
   margin: 30px auto 50px auto;
}

/*#center_column h2 {
   text-align: center;
}*/

.centered {
   text-align: center;
}

.justified {
   text-align: justify;
}

.active {
   color: green;
   text-decoration: underline;
}

